.common {
  background-color: #00d184;
  border: 2px dashed red;
  border-radius: 3px;
  padding: 5px;
}

body {
  font-family: sans-serif;
  background-color: #fff; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  min-height: 100vh; 
}

.calculator-container {
  background-color: #00d184;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
  width: 300px;
  margin: 20px;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.number-input,
.operation-select,
.calculate-button,
.results-container {
  background-color: #00d184; 
}

.number-input {
  width: 80px;
  text-align: center;
}

.operation-select {
  width: 50px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.calculate-button {
  padding: 8px 15px;
  cursor: pointer;
  width: 100%;
}

.results-container {
  margin-top: 15px;
  padding: 10px;
  min-height: 50px;
}

.results-container p.previous-result {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .calculator-container {
    width: 90%;
    margin: 10px auto;
  }

  .input-group {
    flex-direction: column;
    align-items: stretch;
  }

  .number-input,
  .operation-select {
    width: 100%;
    margin-bottom: 5px;
  }
}